.kv{
  background-image: url('../images/kv.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  img{
    width: 100%;
    opacity: 0;
  }
  //.lovedad{
  //  width: 320px;
  //  @include respond($iphone5){
  //    width: 240px;
  //    margin-top: -10px;
  //  }
  //}
  @include respond($mobile){
    padding: 0;
  }
}

#kv{
  background-image: url(../images/kv.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  line-height: 0;
  .padding-wrapper{
    margin: auto;
  }
  .content{
    max-width: $maxWidth;
    position: relative;
    height: 493px;
    padding: 30px 0 0;
  }
}

.home-title{
  //font-size: 48px;
  //font-weight: 800;
  text-align: center;
  overflow-x: hidden;
  padding: 40px 0;
  //background-image: -webkit-linear-gradient(to right, $prostateThemeBackground 47%, $colorectalThemeBackground 53%); /* For Chrome and Safari */
  //background-image:    -moz-linear-gradient(to right, $prostateThemeBackground 47%, $colorectalThemeBackground 53%); /* For old Fx (3.6 to 15) */
  //background-image:     -ms-linear-gradient(to right, $prostateThemeBackground 47%, $colorectalThemeBackground 53%); /* For pre-releases of IE 10*/
  //background-image:      -o-linear-gradient(to right, $prostateThemeBackground 47%, $colorectalThemeBackground 53%); /* For old Opera (11.1 to 12.0) */
  //background-image:         linear-gradient(to right, $prostateThemeBackground 47%, $colorectalThemeBackground 53%); /* Standard syntax; must be last */
  //color:transparent;
  //-webkit-background-clip: text;
  //background-clip: text;

  color: #C10230;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px !important;
  @include respond($mobile){
    font-size: 30px;
    line-height: 37px;
  }
  span{
    color: #FFF;
    background: #C10230;
    font-size: 36px;
    font-weight: bold;
    @include respond($mobile){
      font-size: 30px;
      line-height: 37px;
    }
  }
}

.home-title:nth-of-type(1){
  padding: 40px 0 0 0;
}
.event-title{
  padding: 40px 0;
  text-align: center;
  overflow-x: hidden;
  background-image: -webkit-linear-gradient(to right, $prostateThemeBackground 0%, $colorectalThemeBackground 100%); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(to right, $prostateThemeBackground 0%, $colorectalThemeBackground 100%); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(to right, $prostateThemeBackground 0%, $colorectalThemeBackground 100%); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(to right, $prostateThemeBackground 0%, $colorectalThemeBackground 100%); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to right, $prostateThemeBackground 0%, $colorectalThemeBackground 100%); /* Standard syntax; must be last */
  color: #FFF;
  font-size: 36px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 0px !important;
  @include respond($mobile){
    font-size: 30px;
    line-height: 37px;
  }
}

.product-title{
  //font-size: 48px;
  //font-weight: 800;
  text-align: center;
  overflow-x: hidden;
  padding: 40px 0;
  //background-image: -webkit-linear-gradient(to right, $prostateThemeBackground 47%, $colorectalThemeBackground 53%); /* For Chrome and Safari */
  //background-image:    -moz-linear-gradient(to right, $prostateThemeBackground 47%, $colorectalThemeBackground 53%); /* For old Fx (3.6 to 15) */
  //background-image:     -ms-linear-gradient(to right, $prostateThemeBackground 47%, $colorectalThemeBackground 53%); /* For pre-releases of IE 10*/
  //background-image:      -o-linear-gradient(to right, $prostateThemeBackground 47%, $colorectalThemeBackground 53%); /* For old Opera (11.1 to 12.0) */
  //background-image:         linear-gradient(to right, $prostateThemeBackground 47%, $colorectalThemeBackground 53%); /* Standard syntax; must be last */
  //color:transparent;
  //-webkit-background-clip: text;
  //background-clip: text;

  color: #C10230;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px !important;
  @include respond($mobile){
    font-size: 30px;
    line-height: 37px;
  }
}

//.home-title:before, .home-title:after, .event-title:before, .event-title:after{
//  content: "";
//  display: inline-block;
//  height: 3px;
//  position: relative;
//  //vertical-align: middle;
//  vertical-align: super;
//  width: 60%;
//}
//.home-title:before{
//  right: .5em;
//  margin-left: -50%;
//  background-color: $prostateThemeBackground;
//}
//.home-title:after{
//  left: .5em;
//  margin-right: -50%;
//  background-color: $colorectalThemeBackground;
//}
//.event-title:before{
//  right: 1.8em;
//  margin-left: -50%;
//  background-color: #FFF;
//}
//.event-title:after{
//  left: .5em;
//  margin-right: -50%;
//  background-color: #FFF;
//}


.double-row.home-title:before{
  @include respond($mobile){
    margin-left: -63%;
    vertical-align: bottom;
  }
}
.double-row.home-title:after{
  @include respond($mobile) {
    margin-right: -61%;
    vertical-align: top;
  }
}
.double-row.event-title:before{
  @include respond($mobile){
    margin-left: -61%;
    vertical-align: bottom;
  }
}
.double-row.event-title:after{
  @include respond($mobile) {
    margin-right: -63%;
    vertical-align: top;
  }
}

section.entries{
  //position: absolute;
  //width: 100%;
  //bottom: 0;
  //top: calc(100vh - 373px);
  //@include respond($mobile){
  //  top: calc(100vh - 353px);
  //}
  position: relative;
  width: 100%;
  height: 400px;
  @include respond($mobile){
    height: 360px;
  }

  .left-entry, .right-entry{
    width: 50%;
    display: inline-block;
    position:relative;
  }
  .top-skew{

    .left-skew{
      transform: skewY(3deg);
      background: $colorectalThemeBackground;
      height:100px;
      width: 50%;
      float: left;
      top:0;
    }
    .right-skew{
      transform: skewY(-3deg);
      z-index:1;
      background: $prostateThemeBackground;
      height:100px;
      width: 50%;
      float: right;
      top:0;
    }
  }
  .bottom-block{
    z-index: 9;
    width: 100%;
    position: absolute;
    top: calc(1vw + 1.97em);
    @include respond($mobile){
      top: calc(1vw + 1.6em)
    }

    h3{
      color:#fff;
      font-size: 22px;
    }
    .img{
      text-align: center;
      margin: 20px 0;
      img{
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        @include respond($mobile){
          max-width: 110px;
          margin: 0 auto;
        }
      }
    }
    .ico{
      margin: 20px auto;
      width: 100%;
      max-width: 24px;
    }

    .left-block{
      bottom:0;
      background: $prostateThemeBackground;
      height:330px;
      width: 50%;
      float: left;
      @include respond($mobile){
        float: auto;
      }
      .inner-block{
        padding-top: 50px;
        text-align: center;
        width: 320px;
        float: right;
        margin-right: 0;
        cursor: pointer;
        @include respond($mobile){
          width: 100%;
        }
      }
    }
    .right-block{
      bottom:0;
      background: $colorectalThemeBackground;
      height:330px;
      width: 50%;
      float: right;

      .inner-block{
        padding-top: 50px;
        text-align: center;
        width: 320px;
        float: left;
        margin-left: 0;
        cursor: pointer;
        @include respond($mobile){
          width: 100%;
        }
      }
    }
  }

  .left-entry{
    .triangle{
      /* THIS IS THE MAGIC: using the directional keywords instead
         of an angle in the linear gradient property*/
      background-image: linear-gradient(to right top, $colorectalThemeBackground 0%, $colorectalThemeBackground 50%, transparent 50%);
      //position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .skew{
      transform: skewY(3deg);
      background: $colorectalThemeBackground;
      height:100px;
    }
    .block{
      bottom:0;
      background: $prostateThemeBackground;
      height:300px;
      z-index: 9;
    }
  }
  .right-entry{
    .triangle{
      /* THIS IS THE MAGIC: using the directional keywords instead
         of an angle in the linear gradient property*/
      background-image: linear-gradient(to left top, $prostateThemeBackground 0%, $prostateThemeBackground 50%, transparent 50%);
      //position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
    }
    .skew{
      transform: skewY(-3deg);
      z-index:1;
      background: $prostateThemeBackground;
      height:100px;
    }
    .block{
      bottom:0;
      background: $colorectalThemeBackground;
      height:300px;
      z-index: 9;
    }
  }
}
section.upload{
  margin: auto;
  max-width: $maxWidth;
  padding: 0;
  //@include respond($mobile){
  //  padding: 0;
  //}
  .hashtag{
    color: $prostateThemeBackground;
  }
  .two-container{
    @include respond($desktop){
      height: 200px;
      .block:first-child{
        width: 32%;
      }
      .block:last-child{
        vertical-align: top;
      }
      .block{
        display: inline-block;
        width:50%;
        height: 200px;
        text-align: left;
        line-height: 33px;
      }
    }

  }

}
//section.daddy{
//  margin: auto;
//  //max-width: $maxWidth;
//  max-width: 720px;
//  //@include respond($mobile){
//    padding: 0;
//  //}
//}

//section.doctor-video{
//  margin: auto;
//  max-width: $maxWidth;
//  //max-width: 680px;
//  //@include respond($mobile){
//  padding: 0;
//  //}
//
//  .two-container{
//    @include respond($desktop){
//      //height: 340px;
//      //    display: table;
//      .block:first-child{
//
//      }
//      .block:last-child{
//        vertical-align: top;
//        //background: linear-gradient(
//        //                to right,
//        //                rgba(79, 134, 198, 0.7) 0%,
//        //          //rgba(79, 134, 198, 0.7) 50%,
//        //          //rgba(79, 176, 198, 0.7) 50%,
//        //                rgba(79, 176, 198, 0.7) 100%
//        //) !important;
//      }
//      .block{
//        display: inline-block;
//        width:50%;
//        //height: 300px;
//        text-align: left;
//        line-height: 33px;
//      }
//      .table-cell{
//        text-align: center;
//        color: $colorTitle;
//        display : flex;
//        align-items : center;
//      }
//    }
//
//  }
//}

section#advent-calendar-section{
  margin: auto;
  //max-width: 680px;
  //@include respond($mobile){
  padding: 0;
  //}


  background-image: url(../images/product-container-bg0-all.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50%;

  margin-bottom: 120px;
  #advent-calendar-slider-desktop{
    max-width: $maxWidth;
    margin: auto;
  }
  .two-container{
    display: flex;
    align-items: center;
    @include respond($desktop){
      //height: 340px;
      //    display: table;
      .block:first-child{

      }
      .block:last-child{
        vertical-align: top;
        //background: linear-gradient(
        //                to right,
        //                rgba(79, 134, 198, 0.7) 0%,
        //          //rgba(79, 134, 198, 0.7) 50%,
        //          //rgba(79, 176, 198, 0.7) 50%,
        //                rgba(79, 176, 198, 0.7) 100%
        //) !important;
      }
      .block{
        //display: inline-block;
        width:50%;
        //height: 300px;
        text-align: left;
        line-height: 33px;
        position: relative;
        .btn-close{
          position: absolute;
          top: -30px;
          right: 0px;
        }
      }
      .table-cell{
        text-align: center;
        color: $colorTitle;
        display : flex;
        align-items : center;
      }
    }

  }
}


section.related-article{
  margin: 20px auto;
  max-width: 680px;
  height: 230px;
  padding: 0;
  display: block;
  overflow: hidden;
  @include respond($mobile){
    height: auto;
  }
  .article{
    position: relative;
    width: 170px;
    float: left;
    @include respond($mobile){
      width: 25vw;
    }
    img{
      width: 170px;
      @include respond($mobile){
        width: 100%;
      }
    }
    .article-title{
      position: absolute;
      bottom: 0;
      height: 70px;
      width: 170px;
      line-height: 25px;
      padding: 10px 0;
      vertical-align: middle;
      color: #FFF;
      @include respond($mobile){
        width: 25vw;
        font-size: 14px;
        line-height: 19px;
        height: 46px !important;
        padding: 3px 0;
      }
    }
    .to-be-updated{
      position: absolute;
      height: 100%;
      width: 170px;
      line-height: 1300%;
      padding: 10px 0;
      vertical-align: middle;
      background: rgba(255, 255, 255, 0.7);
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $colorTitle;
      @include respond($mobile){
        width: 25vw;
      }
    }

  }

  a:nth-of-type(odd){
    .article-title{
      background: rgba(79, 134, 198, 0.7);
    }
  }
  a:nth-of-type(even){
    .article-title{
      background: rgba(79, 176, 198, 0.7);
    }
  }
}

section#advent-calendar-section{
  .advent-calendar-container{
    //height: auto!important;
    width: 440px;
    height: 600px;
    margin: auto;

    //.box{
    //  width: 50% ;
    //  @include respond($mobile){
    //    width: 50vw;
    //  }
    //
    //  img{
    //    width: 100%;
    //    @include respond($mobile){
    //      width: 100%;
    //    }
    //  }
    //  .article-title{
    //    height: 70px;
    //    width: 100%;
    //    @include respond($mobile){
    //      height: 50px;
    //    }
    //    color: #FFF;
    //    @include respond($mobile){
    //      width: 50vw;
    //    }
    //  }
    //  &.disabled{
    //    opacity: 0.2;
    //  }
    //  &.selected{
    //    outline: 4px solid white;
    //    outline-offset: -4px;
    //  }
    //}

    display: grid;
    //grid-template-areas:
    //        'left-upper left-upper center center center center right-upper'
    //        'left-upper left-upper center center center center right-upper'
    //        'left-bottom left-bottom center center center center right-upper'
    //        'left-bottom left-bottom center center center center right-bottom'
    //        'left-bottom left-bottom center center center center right-bottom';
    //grid-gap: 10px;
    //grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
    //grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
            'box11 box11 box6 box12'
            'box8  box8  box6 box12'
            'box8  box8  box10 box12'
            'box5  box2  box10 box4'
            'box5  box2  box9 box4'
            'box7  box2  box9 box4'
            'box7  box3  box9 box4'
            'box7  box3  box1 box1';
    //grid-template-columns: 26.2% 26.2% 19.1% 28.5%;
    //grid-template-rows: 15.5% 10.3% 12% 13.8% 9.5% 7.7% 10.3% 20.7%;
    grid-template-columns: 110px 110px 80px 120px;
    grid-template-rows: 90px 60px 70px 80px 55px 45px 60px 120px;
    grid-gap: 5px;
    //width: 620px;
    //height: 230px;
    //margin-bottom: 5px;
    @include respond($mobile){
      width: 100%;
      grid-template-columns: 24.75% 24.75% 19% 28.2%;
      grid-template-rows: 15.5% 10.3% 12% 13.8% 9.5% 7.7% 10.3% 20.7%;
      grid-gap: 1%;
      margin: auto 1%;
    }

    img{
      width: 100%;
    }
    #box1 {
      grid-area: box1;
      background: url('../images/advent-calendar/box1.jpg');
    }
    #box2 {
      grid-area: box2;
      background: url('../images/advent-calendar/box2.jpg');
    }
    #box3 {
      grid-area: box3;
      background: url('../images/advent-calendar/box3.jpg');
    }
    #box4 {
      grid-area: box4;
      background: url('../images/advent-calendar/box4.jpg');
    }
    #box5 {
      grid-area: box5;
      background: url('../images/advent-calendar/box5.jpg');
    }
    #box6 {
      grid-area: box6;
      background: url('../images/advent-calendar/box6.jpg');
    }
    #box7 {
      grid-area: box7;
      background: url('../images/advent-calendar/box7.jpg');
    }
    #box8 {
      grid-area: box8;
      background: url('../images/advent-calendar/box8.jpg');
    }
    #box9 {
      grid-area: box9;
      background: url('../images/advent-calendar/box9.jpg');
    }
    #box10 {
      grid-area: box10;
      background: url('../images/advent-calendar/box10.jpg');
    }
    #box11 {
      grid-area: box11;
      background: url('../images/advent-calendar/box11.jpg');
    }
    #box12 {
      grid-area: box12;
      background: url('../images/advent-calendar/box12.jpg');
    }
    .box{
      position: relative;
      background-size: cover !important;
      background-position: center!important;
      background-repeat: no-repeat!important;
      cursor: pointer;
    }

  }
}


section.patient-video{
  margin: auto;
  max-width: $maxWidth;
  padding: 0;
}

section.gallery{
  margin: auto;
  max-width: $maxWidth;
  padding: 0;
}

section.event {
  padding-top: 0px;
  background-image: -webkit-linear-gradient(to right, $prostateThemeBackground 0%, $colorectalThemeBackground 100%); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(to right, $prostateThemeBackground 0%, $colorectalThemeBackground 100%); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(to right, $prostateThemeBackground 0%, $colorectalThemeBackground 100%); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(to right, $prostateThemeBackground 0%, $colorectalThemeBackground 100%); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, $prostateThemeBackground 0%, $colorectalThemeBackground 100%); /* Standard syntax; must be last */
  .content{
    color: #FFF;
    margin: auto;
    max-width: $maxWidth;
    padding: 0;
    .two-container{
      img{
        width: 100%;
      }
      .block:last-child{
        vertical-align: top;
        @include respond($mobile){
          padding: 0 20px;
          margin: auto;
        }
        .row{
          margin-left: 0px;
          .label{
            background: #AFD035;
            padding: 2px 10px;
            margin: 5px;
            border-radius: 20px;
            color: #000;
          }
          .info{
            padding: 0px 10px;
            line-height: 47px;
          }
        }
      }
      @include respond($desktop){
        .block:first-child{
          width: 50%;
          img{
            width: 90%;
          }
        }
        .block{
          display: inline-block;
          width:50%;
          //height: 200px;
          text-align: left;
          line-height: 33px;
        }
      }

    }
  }
}
section.home-references{
  margin: auto;  
  max-width: $maxWidth;
  padding-top: 0;
  .content{
    div, a{
      font-size: 14px;
    }
    a{
      text-decoration: none;
      color: $colorTitle;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  #btn-legal-disclaimer-home{
    width: 200px;
    margin: auto;
    cursor: pointer;
    img{
      width: 100%;
    }
  }
}

section.references{
  margin: auto;  
  padding-top: 0;
  .content{
    div, a{
      font-size: 14px;
    }
    a{
      text-decoration: none;
      color: $colorTitle;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  #btn-legal-disclaimer-home{
    width: 200px;
    margin: auto;
    cursor: pointer;
    img{
      width: 100%;
    }
  }
}


#product-container1, #product-container2, #product-container3{
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50%;
  .padding-wrapper{
    padding: 60px 0 40px 0;
  }
  .main-title{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50px;
    .background{
      //background: #FFF;
      width: 200px;
      margin: auto;
      color: #FFF;
    }
  }
  .content{
    max-width: $maxWidth;
    margin: auto;
  }
  .products-container{
    padding: 40px 0 10px 0;
    .product{
      width: 30%;
      display: inline-block;
      .description{
        vertical-align: center;
        color: #FFF;
      }
      .img-wrapper{
        padding: 10px;
        img{
          height: 100%;
        }
      }
    }
  }

  #product-slider1, #product-slider2, #product-slider3 {
    padding: 40px 0 10px 0;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
    display: block;
    @include respond("only screen and (max-width : 850px)"){
      //display: block!important;
    }
    img{
      width:90%;
      margin: auto;
    }
    .img-wrapper {
      max-width: 450px;
      padding: 10px;
      margin:auto;
    }

    p {
      margin-bottom: 20px;
    }
    .slick-dots{
      position: initial !important;
    }
    .slick-dots li.slick-active button:before{
      //background-color: $color8;
      //border: 2px solid $color8;
    }
  }

  .separator{
    position: absolute;
    bottom: 0px;
    img{
      width: 100%;
      height: 30px;
    }
  }
}

#product-container1{
  background-color: #F48993;
  background-image: url(../images/product-container-bg1-all.png);
  .main-title{
    .background{
      border: 1px solid #D41D51;
      padding: 5px;
      outline: 1px solid #D41D51;
      outline-offset: -4px;
    }
  }
}

#product-container2{
  background-color: #0075A9;
  background-image: url(../images/product-container-bg2-all.png);
  .main-title{
    .background{
      border: 1px solid #002548;
      padding: 5px;
      outline: 1px solid #002548;
      outline-offset: -4px;
    }
  }
}

#product-container3{
  background-color: #E6427A;
  background-image: url(../images/product-container-bg3-all.png);
  .main-title{
    .background{
      border: 1px solid #6B0125;
      padding: 5px;
      outline: 1px solid #6B0125;
      outline-offset: -4px;
    }
  }
}

#product-slider1, #product-slider2, #product-slider3{
  .product{
    .description{
      color: #FFF;
    }
  }
  .slick-next:before,.slick-prev:before{
    content: none;
  }
  .slick-dots li button:before{
    opacity: 1;
    color:transparent;
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius: 50px;
    line-height: 0;
    content: ' ';
    transform: scale(.4);
  }
  .slick-dots li.slick-active button:before{
    background-color: #C10230;
    border: 2px solid #C10230;
  }
}

section#footer{
  padding: 0;
  .padding-wrapper{
    max-width: $maxWidth;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    div:first-of-type{
      //float:left;
      text-align: left;
    }
    div:last-of-type{
      //float: right;
      text-align: right;
    }
    div{
      width: 50%;
    }
  }
  a{
    text-decoration: none;
  }
}