*{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: $fontSizeContent;
  @include respond($mobile){
    font-size: 20px;
  }
  word-break: break-all;
}
html{
  scroll-behavior: smooth;
}
sup{
  white-space: nowrap;
}
section{
  padding: 30px 0;
  &.padding-wrapper{
    padding: 20px 40px;
  }
  .max-width{
    position: relative;
    max-width: 1000px;
    margin:auto;
  }
  text-align: center;


  .content{
    @include respond($mobile){
      padding: 0 20px;
    }
  }
}

.desktop-visible{
  display: block!important;
  @include respond($mobile){
    display: none!important;
  }
}
.mobile-visible{
  display: block!important;
  @include respond($desktop){
    display: none!important;
  }
}
.floating{
  background-color:#fff;
  padding: 3px;
  z-index: 99;
  position: fixed;
  bottom: 50px;
  left: 5px;
  width: 27px;
  visibility: hidden;
  display: none;
  @include respond($mobile){
    left: 5px;
    display:block;
  }  
  img{
    width: 20px;
  }
  &.cd-is-visible{
    visibility: visible;
  } 
}

.title{
  font-size: $fontSizeTitle;
  font-weight: bold;
  margin-bottom: 10px !important;
  @include respond($mobile){
    font-size: 30px;
    line-height: 37px;
  }
}

.title-s{
  font-weight: bold;
}

.cd-top{
  z-index: 9;
  position: fixed;
  bottom: 50px;
  right: 40px;
  visibility: hidden;
  @include respond($mobile){
    right: 10px;
  }  
  img{
    width: 50px;
  }
  &.cd-is-visible{
    visibility: visible;
  }
}
