@mixin respond($size) {
  @media #{$size} {
    @content;
  }
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Screen Size
$maxWidth: 1280px;
$desktop: "only screen and (min-width : "+$maxWidth+")";
//$tablet: "only screen and (max-width: "+$maxWidth+") and (min-width: 450px)";
$mobile: "only screen and (max-width : "+$maxWidth+")";
$iphone5: "only screen and (max-width : 320px)";

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Variables
$headerBackground: #FFF;
$prostateThemeBackground: #4F86C6;
$colorectalThemeBackground: #4FB0C6;
$fontSizeContent: 18px;
$fontSizeTitle: 24px;
$colorTitle: #58595B;
$colorContent: #171717;

$blue-gray 			    : #ECF5FF;
$blue-gray-darken 	: #AFD4FF;
$blue 				      : #4F86C6;
$blue-darken 		    : #2980b9;
$green 				      : #1abc9c;
$green-darken 		  : #16a085;