#advent-calendar-slider-desktop{
  .slick-slide{
    &.slick-current{
       transform: scale(1) !important;
       -webkit-transform: scale(1) !important;
      .play{
        background: linear-gradient(
                        to right,
                        rgba(79, 134, 198, 0.7) 0%,
                        rgba(79, 176, 198, 0.7) 100%
        ) !important;
      }
      .overlay{
        transition: all .3s ease;
        background: transparent !important;
      }
      transform: scale(.9);
    }
    div{
      div.doctor{
        position: relative;
        img{
          display: inline-block;
          width: 100%;
        }
        .play{
          background: rgba(203,203,203,0.3);
          border-radius: 20px;
          width:40px;
          padding:10px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -20px;
          margin-left: -20px;
          @include respond($mobile){
            width:30px;
            margin-top: -16px;
            margin-left: -16px;
          }
        }
        &.selected{
          .play{
            background: linear-gradient(
                            to right,
                            rgba(79, 134, 198, 0.7) 0%,
                            rgba(79, 176, 198, 0.7) 100%
            );
            border-radius: 40px;
            width:80px;
            padding:20px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -40px;
            margin-left: -40px;
          }
        }
        &.secondary{
          .margin-wrapper{
            position:relative;
            //margin: 5px;
            margin-top: 5px;
          }
          .overlay{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
          }
        }
      }
    }
  }
  .slick-prev:before, .slick-next:before {
    content: none;
  }
  .slick-prev, .slick-next{
    z-index: 9;
  }
  .slick-prev{
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    left: 0px;
    height: 50px;
    width: 25px;
    img{
      padding-top: 13px;
      padding-left: 2px;
      @include respond($mobile){
        margin-left: -6px;
      }
    }
    @include respond($mobile){
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
      left: 0px;
      height: 50px;
      width: 25px;
      img{
        padding-top: 13px;
        padding-left: 2px;
      }
    }
  }
  .slick-next{
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    right: 0px;
    height: 50px;
    width: 25px;
    img{
      padding-top: 13px;
      padding-left: 7px;
    }
    @include respond($mobile){
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      right: 0px;
      height: 50px;
      width: 25px;
      img{
        padding-top: 13px;
        padding-left: 7px;
      }
    }
  }
  .main{
    .slick-prev, .slick-next{
      background: rgba(0,0,0,0.4);
    }
  }
  //.content{
  //  padding: 0 20px 40px 20px;
  //  @include respond($mobile){
  //    padding: 0 20px 40px 20px;
  //  }
  //}
}
