

#overlay-advent-calendar-slider{
  background: rgba(0,0,0,0.4);
  .overlay-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: opacity .3s  ease-in-out;
    opacity: 1;
    &.hide{
      opacity: 0;
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
    }
    .overlay-table{
      position: absolute;
      display: table;
      //top: 0;
      //left: 0;
      width: 100vw;
      height: 100vh;
      margin: auto;
      .overlay-cell{
        display: table-cell;
        vertical-align: middle;
        padding: 16px 0;
        box-sizing: border-box;

        .overlay-placeholder-wrapper{
          overflow-x: hidden;
          background: #FFF;
          position: relative;
          max-width: 800px;
          width: 100%;
          margin: auto;
          padding: 40px 30px;
          box-sizing: border-box;
          font-size: var(--font-size-xs-fixed);
          line-height: 28px;
          @include respond($mobile){
            padding: 40px 0px;
            //max-width: 320px;
            width: 100vw;
            //min-height: 465px;
            height: 50vh;
          }
          .title{
            text-align: center;
          }
          div:not(.title), span, a{
            font-size: 14px;
          }
          a{
            color: #FFF;
            text-decoration: underline;
          }
        }
      }
    }

    .overlay-close{
      position: absolute;
      top: 0px;
      right: 35px;
      cursor: pointer;
      @include respond($mobile){
        top: -5px;
        right: 5px;
      }
      i{
        color:#D9B577;
        font-size: 32px;
      }
    }
    b{
      font-size: 20px;
    }
  }

  /* Pick either one*/

  // Overlay Full Screen
  //.overlay-wrapper{
  //  background-color:rgba(236, 241, 247, 0.95);
  //}

  // Overlay Box
  .overlay-wrapper{
    background: rgba(0,0,0,0.4);
    .overlay-placeholder-wrapper{
      //background-color:#FFF;
    }
  }

}

#overlay-patient-video{
  background: rgba(0,0,0,0.4);
  .overlay-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: opacity .3s  ease-in-out;
    opacity: 1;
    &.hide{
      opacity: 0;
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
    }
    .overlay-table{
      position: absolute;
      display: table;
      //top: 0;
      //left: 0;
      width: 100vw;
      height: 100vh;
      margin: auto;
      .overlay-cell{
        display: table-cell;
        vertical-align: middle;
        padding: 16px 0;
        box-sizing: border-box;

        .overlay-placeholder-wrapper{
          overflow-x: hidden;
          background: transparent;
          position: relative;
          max-width: 800px;
          width: 100%;
          margin: auto;
          padding: 40px 30px;
          box-sizing: border-box;
          font-size: var(--font-size-xs-fixed);
          line-height: 28px;
          @include respond($mobile){
            padding: 40px 0px;
            //max-width: 320px;
            //width: 100vw;
            //min-height: 465px;
            height: 50vh;
          }
          .title{
            text-align: center;
          }
          div:not(.title), span, a{
            font-size: 14px;
          }
          a{
            color: #FFF;
            text-decoration: underline;
          }
        }
      }
    }

    .overlay-close{
      position: absolute;
      top: 0px;
      right: 35px;
      cursor: pointer;
      @include respond($mobile){
        top: -5px;
        right: 5px;
      }
      i{
        color:#FFF;
        font-size: 32px;
      }
    }
    b{
      font-size: 20px;
    }
  }

  /* Pick either one*/

  // Overlay Full Screen
  //.overlay-wrapper{
  //  background-color:rgba(236, 241, 247, 0.95);
  //}

  // Overlay Box
  .overlay-wrapper{
    background: rgba(0,0,0,0.4);
    .overlay-placeholder-wrapper{
      //background-color:#FFF;
    }
  }

}


#overlay-legal-disclaimer{
  background: #FFF;
  .overlay-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: opacity .3s  ease-in-out;
    opacity: 1;
    &.hide{
      opacity: 0;
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
    }
    .overlay-table{
      position: absolute;
      display: table;
      //top: 0;
      //left: 0;
      width: 100vw;
      height: 100vh;
      margin: auto;
      .overlay-cell{
        display: table-cell;
        vertical-align: middle;
        padding: 16px 0;
        box-sizing: border-box;

        .overlay-placeholder-wrapper{
          overflow-x: hidden;
          background: transparent;
          position: relative;
          max-width: 800px;
          width: 100%;
          margin: auto;
          padding: 40px 30px;
          box-sizing: border-box;
          font-size: var(--font-size-xs-fixed);
          line-height: 28px;
          @include respond($mobile){
            padding: 40px 16px;
            max-width: 320px;
            //width: 100vw;
            min-height: 465px;
            height: 90vh;
          }
          .title{
            text-align: center;
          }
          div:not(.title), span, a{
            font-size: 14px;
          }
          a{
            color: #636b6f;
            text-decoration: underline;
          }
        }
      }
    }

    .overlay-close{
      position: absolute;
      top: 0px;
      right: 35px;
      cursor: pointer;
      @include respond($mobile){
        top: -5px;
        right: 5px;
      }
      i{
        color:$colorTitle;
        font-size: 32px;
      }
    }
    b{
      font-size: 20px;
    }
  }

  /* Pick either one*/

  // Overlay Full Screen
  //.overlay-wrapper{
  //  background-color:rgba(236, 241, 247, 0.95);
  //}

  // Overlay Box
  .overlay-wrapper{
    background: #FFF;
    .overlay-placeholder-wrapper{
      //background-color:#FFF;
    }
  }

}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}