#navbar{
  height: 80px;
}
.header{
  background: $headerBackground;
  text-align: center;
  position:fixed;
  z-index: 99;
  width: 100%;
  height: 80px;
  top: -100px;
  transition: all .5s;
  padding: 20px !important;
  //@include respond($desktop) {
    border-bottom: 2px solid rgba(196,196,196,0.5);
  //}
  @include respond($mobile){
    height: 88px;
  }
  @include respond($iphone5){
    padding: 10px 20px 40px !important;
    height: 70px;
  }
  &.fixed{
    top:0;
  }
  .header-logo{
    margin:auto;
    width: 120px;
    @include respond($mobile){
      width: 160px;
    }
  }
  .home-icon{
    position:absolute;
    left: 0px;
    top: 3px;
  }
  .nav-icon{
    position:absolute;
    right: 10px;
    top: 10px;
  }
  .desktop-visible{
    a{
      padding: 0 20px;
      color: $colorTitle;
      cursor: pointer;
    }
    a:hover{
      text-decoration: none;
      color: $prostateThemeBackground;
    }
  }
}

#navmenu-content {
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
  cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  text-align: center;
  &.hide {
    transform: translate3d(100vw, 0, 0);
  }
  &.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
  h2{
    margin: 0 50px;
    padding-bottom: 0.5rem;
  }
  h2 a {
    color: $colorTitle;
    text-decoration: none;
  }
  //h2 a:hover {
    //text-decoration: underline;
  //}
  h2:not(:last-child){
    border-bottom: 1px solid rgba(196,196,196,0.5);
  }
  .menu-close i{
    position: absolute;
    right: 25px;
    top: 25px;
  }
}
